*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background: transparent;
  border: .1rem solid #fff;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: rgba(0,191,166,0.7);
}
/*
 * Header
 */
.nav-link{
	font-size: 1.5em;
	font-family: 'Lobster', cursive; 
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
div.about_wrap{
	background-image: url(../images/about1.jpg);
	background-size: cover;
	height: 80vh;
	width: 70%;
	border-radius: 20px; 
	margin-top: -0.5vh;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 4.5em;
	color: #000;
	text-align: center;
}
div.row:nth-of-type(1){
	margin-top: 100vh;
}
div.row:nth-of-type(2){
	margin-top: 20vh;
}
.about_wrap img{
	width: 50%;
}
h2{
	color: #000;
	vertical-align: top;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	float: left;
}
.about_wrap span{
	display: block;
}
.row img{
	width: 100%; 
}
div.web_design{
	height: 70vh;
}
span{
	display: block;
	font-family: 'Red Rose', cursive;
	font-size: 1.3em;
}
h3{
	margin-top: 12vh;
	font-family: 'Oleo Script', cursive;
	font-size: 2em;
}
.web_design span i{
	vertical-align: top;
	font-size: inherit;
}
.web_design a{
	text-decoration: none;
	color: #6C63FF;
}
img.about_cover{
	margin-top: 10vh;
}
a.IG_Page{
	color: #6C63FF;
}
/*Footer*/
footer{
	font-size: 1.3rem;
}https://www.microsoft.com/en-in/software-download/windows10ISO
footer div{
	padding:0px;
}
span.inline-flex{
	margin-top: 0px !important;
}
.text-gray-500 svg{
	display: inline;
}
@media (min-width: 0px) and (max-width: 330px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 90vh;
	}
	.photo img{
		margin-top: -177vh;
	}
	div.photo_row{
		margin-bottom: 0px !important;
	}
	h2{
		margin-top: 3vh;
	}
	footer p{
		font-size: 0.75em;
	}
}
@media (min-width: 331px) and (max-width: 360px) and (min-height: 650px) and (max-height: 700px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 60vh;
	}
	.photo img{
		margin-top: -100vh;
	}
	div.photo_row{
		margin-bottom: 40vh !important;
	}
	h2{
		margin-top: 3vh;
	}
}
@media (min-width: 331px) and (max-width: 360px) and (max-height: 649px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 60vh;
	}
	.photo img{
		margin-top: -150vh;
	}
	div.photo_row{
		margin-bottom: 0px !important;
	}
	h2{
		margin-top: 3vh;
	}
	footer p{
		font-size: 0.75em;
	}
}
@media (min-width: 361px) and (max-width: 576px) and (max-height: 700px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 40vh;
	}
	.photo img{
		margin-top: -145vh;
		display: block;
	}
	div.photo_row{
		margin-bottom: 3vh !important;
	}
	div.photo_wrap{
		margin-top: 20vh;
	}
}
@media (min-width: 361px) and (max-width: 576px) and (max-height: 850px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 40vh;
	}
	.photo img{
		margin-top: -155vh;
		display: block;
	}
	div.photo_row{
		margin-bottom: 3vh !important;
	}
	div.photo_wrap{
		margin-top: 20vh;
	}
}
@media (min-width: 361px) and (max-width: 576px) and (min-height: 701px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 40vh;
	}
	.photo img{
		margin-top: -125vh;
		display: block;
	}
	div.photo_row{
		margin-bottom: 3vh !important;
	}
	div.photo_wrap{
		margin-top: 0vh;
	}
}
@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait){
	h1{
		font-size: 3em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 40vh;
	}
	.photo img{
		margin-top: -100vh;
	}
	div.photo_row{
		margin-bottom: 1vh !important;
	}
	h2{
		margin-top: 1vh;
	}
	.navbar_collapse{
		padding-left: 30vh !important;
	}

}
@media (min-width: 769px) and (max-width: 1199px) and (orientation: portrait){
	.navbar-brand img{
		margin-left: 28.5vh;
	}
	h1{
		font-size: 5em;
	}
	div.about_wrap{
		width: 100%;
		background-image: url(../images/about_phone.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	div.row:nth-of-type(2){
		margin-top: 0px;
	}
	.photo img{
		margin-top: 0px;
	}
	div.photo_row{
		margin-bottom: 1vh !important;
			margin-top: 7vh;
	}
	h2{
		margin-top: 1vh;
	}
	.navbar_collapse{
		padding-left: 30vh !important;
	}
	h3{
		margin-top: 7vh;
	}
	.our_team{
		margin-top: 7vh;
		maargin-right: 5vh;
	}

}
@media (min-width: 550px) and (max-width: 600px) and (orientation: landscape){
	.navbar_collapse{
		margin-left: 50vh;
	}
	h2{
		font-size: 2em;
	}
	h3{
		font-size: 1em;
		padding-top: 3vh;
	}
}