body{
  font-family: 'Red Rose', cursive; 
}
a.navbar_links{
  text-decoration: none;
  color: #fff;
}
a.navbar_links:hover{
  color: #6c757d;
}
a.text-white:hover{
  color: #6c757d;
}
p.nav_p{
  display: inline-block;
  margin-right: 5vh; 
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url(images/rsz_flame.jpg);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
div.album{
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .7);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron h1{
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    color: #000;
    text-align: center;
    color: #fff;
}
.portfolio-section {
  overflow: hidden;
}

.portfolio-filter {
  list-style: none;
  padding-bottom: 100px;
}

.portfolio-filter li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.gallery-block {
  position: relative;
}

.portfolio-item {
  display: block;
  width: 100%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.portfolio-meta {
  padding-bottom: 45px;
}

.portfolio-meta h2 {
  font-size: 24px;
}

.portfolio-meta p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
